body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background: #333a41;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background: #4b4b4b6e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.perfil-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
}

.perfil-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.btn-editar {
    background-color: rgb(65, 187, 71);
}

.btn-sair {
    background-color: #dc3545;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}


